.container-2{
    display: none;
}
@media screen and (max-width:600px) {
    body {
        background-color: #89fa;
    }
.container-1{
    width: 90%;
    margin:100px auto;
    padding:10px;
    box-sizing: border-box;
    border: 4px solid white;
    border-radius: 5px;
    height: 420px;
    background-color: white;
    text-align: center;
    
    
}
.container-1 h2{
    font-family: poppins;

}
.container-1 p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    font-weight: 600;
}
.container-1 label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
input[type='text'] {
    width: 50%;
    text-align: center;
    padding: 10px 19px;
    background-color: lavender;
    border: none;
    margin: 10px 0px;
    border-radius: 5px;
}
#sub-btn{
    padding: 14px 18px;
    border: none;
    word-spacing: 10px;
    color: white;
    background-color: #89fa ;
}
.container-2{

    
    width: 90%;
    margin:100px auto;
    padding:10px;
    box-sizing: border-box;
    border: 4px solid white;
    border-radius: 5px;
    height: 420px;
    background-color: white;
}
#grin{

    background-color: aqua;
}

#time{
    margin: 200px auto;
    background-color: blue;
}
#greeting{
    background-color: yellow;
    
    margin: 300px auto;
}

}